.container{
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 50px 50px 50px;
    grid-gap: 8px;
}
.container div{
    background-color: rgb(255, 115, 0);
    border:  1px solid;
}